:root {
    --blue: #00A1FF;
    --dark-blue: #0060CF;
    --white: #E8E8E8;

    --bg-gradient: linear-gradient(180deg, var(--blue) 0%, var(--dark-blue) 100%);

    --default-radius: 0.5rem;
    --default-gap: 0.4rem;
}

body {
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

button {
    background: var(--bg-gradient);
    color: var(--white);

    font-weight: bold;
    text-shadow: 0 0 2px black;

    border: 2px solid var(--dark-blue);
    border-radius: var(--default-radius);
}

button:hover {
    background: var(--white);
    color: var(--dark-blue);

    font-weight: bold;
    text-shadow: none;
}

input {
    border: 1px solid var(--blue);
    border-radius: var(--default-radius);
}

dialog {
    margin: auto;

    border: 2px solid var(--dark-blue);
    border-radius: var(--default-radius);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
}

dialog select {
    background: var(--bg-gradient);
    color: var(--white);

    font-weight: bold;
    text-shadow: 0 0 2px black;

    border: 2px solid var(--dark-blue);
    border-radius: var(--default-radius);

    width: fit-content;
    padding: 0.2rem;
}

dialog input {
    max-width: 100%;
}


.pad {
    padding: 0.4rem;
}

.pad-x {
    padding-left:  0.4rem;
    padding-right: 0.4rem;
}

.pad-y {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.margin {
    margin: 0.4rem;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
    gap: var(--default-gap);
    align-items: center;
}

.flex_grow {
    flex-grow: 1;
}

.flex_list {
    display: flex;
    flex-direction: column;
}

.flex_gap {
    gap: var(--default-gap);
}

.faded_text {
    color: gray;
}

.position_top_right {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

.align_right {
    float: right;
}

.debug_border {
    border: 2px dotted red;
}



.navbar {
    display: flex;
    flex-basis: 0;

    font-size: 1.8rem;

    background: var(--bg-gradient);
}

.navbar * {
    list-style-type: none;
    text-decoration: none;

    color: var(--white);
    text-shadow: 0 0 2px black;
}

.navbar > li.active {
    text-decoration: underline;
}

.navbar > li > *:hover  {
    text-decoration: underline;
}

.search_form {
    display: flex;
    gap: var(--default-gap);

    margin-bottom: 0.5rem;
}

.search_form > input {
    flex-grow: 1;
}

.customer_preview {
    display: flex;
    gap: var(--default-gap);

    border-radius: var(--default-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

    text-decoration: none;
}

.customer_preview:hover {
    border-color: var(--blue);
}

.customer_preview:visited {
    color: inherit;
}

.customer_detail {
    font-size: 1.4rem;

    position: relative;
}

.expand_blue {
    background: var(--bg-gradient);
    border: 1px solid black;

    color: var(--white);
    text-shadow: 0 0 2px black;

    padding: 0.2rem 0.4rem;
}

.expand_bordered {
    border: 1px solid black;
}

.appointment {
    position: relative;

    border: 1px solid black;
}

.appointment button {
    padding: 0 0.2rem;
}

.motif {
    position: relative;

    border-width: 1px 0;
    border-style: solid;
    border-color: black;
}

.motif button {
    padding: 0 0.2rem;
}

.motif_list {
    border-width: 0 1px;
    border-style: solid;
    border-color: black;
}

